{% extends "base.html" %}

{% block title %}{{package}}{% endblock %}

{% block head %}
    <script type = 'text/javascript' >var pkg = '{{package}}';</script>
    <script
        type = 'text/javascript'
        src = '{{ url_for('static', filename='js/jquery.min.js') }}' ></script>
    <script
        type = 'text/javascript'
        src = '{{ url_for('static', filename='js/d3.v3.js') }}' ></script>
    <script
        type = 'text/javascript'
        src = '{{ url_for('static', filename='js/archview.js') }}' ></script>
<style>
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
{% endblock %}

{% block content %}
<h1>{{package}}</h1>

{% endblock %}
